.chordContainer {
  -webkit-text-fill-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 25%);
  gap: 2.5%;
  text-align: center;
  height: 100%;
}

.chordContainer div {
  background: var(--gradient);
  background-size: 1240px;
  -webkit-background-clip: text;
  transition: transform 0.3s ease, font-size 0.3s ease, opacity 0.3s ease,
    border-left 0.3s ease, border-right 0.3s ease;
}
.passedChord,
.nextChord2 {
  font-size: 300%;
}

.passedChord {
  font-size: 3vw;
  grid-column: 2;
  opacity: 0.5;
  border-left: 2px solid var(--color6);
  border-right: 2px solid var(--color6);
}

.passedChord2 {
  font-size: 3vw;
  grid-column: 1;
  opacity: 0;
  border-left: 2px solid var(--color6);
  border-right: 2px solid var(--color6);
}

.activeChord {
  font-size: 4vw;
  grid-column: 3;
  border-left: 2px solid var(--color6);
  border-right: 2px solid var(--color6);
}

.nextChord {
  font-size: 3vw;
  grid-column: 4;
  opacity: 0.5;
  border-left: 2px solid var(--color6);
  border-right: 2px solid var(--color6);
}

.nextChord2 {
  font-size: 3vw;
  opacity: 0;
  border-left: 2px solid var(--color6);
  border-right: 2px solid var(--color6);
}
