.settingsContainer {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.settingsContainer > * {
  margin-top: 10%;
}

.notesScalesContainer {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color3-op);
  padding: 20px;
  border-radius: 5px;
}

.settingsTitle {
  padding: 6%;
  background-color: var(--color3);
}

.setNotes,
.setScales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.settingsContainer input {
  text-align: center;
}

.gridWhite {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.gridBlack {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.gridWhite button,
.gridBlack button {
  width: 100%;
  height: 100%;
  align-self: center;
}

.gridBlack button {
  transform: translateX(50%);
}

.theme1,
.theme2,
.theme3 {
  width: 50px;
  height: 20px;
  border-radius: 2px;
  margin-left: 5%;
}

.theme1:hover,
.theme2:hover,
.theme3:hover {
  border: 2px solid var(--color5);
}

.theme1 {
  background: var(--gradient1);
}

.theme2 {
  background: var(--gradient2);
}
.theme3 {
  background: var(--gradient3);
}

.disab,
.disab * {
  pointer-events: none;
  color: grey;
  border-color: grey;
}

.scalesButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: auto;
}

.scalesButtons button {
  width: 100%;
  height: 100%;
}

.modeButtons > * {
  margin-left: 5%;
}
